services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
    restart: unless-stopped

  ollama:
    image: ollama/ollama:latest
    environment:
      - OLLAMA_NUM_PARALLEL=1
    container_name: ollama
    ports:
      - "11434:11434"
    gpus: all
    volumes:
      - ./ollama:/root/.ollama
      - ./ollama-startup.sh:/ollama-startup.sh
    entrypoint: /bin/bash
    command:
      - /ollama-startup.sh
    restart: unless-stopped
